body,div,ul,li,h1,h2,h3,img,{
	margin: 0;
	padding: 0;
}
*{
	margin: 0;
	padding: 0;
}
body{
	background: #EDEDED;
	height: 2000px;
}
input,img{
	border: 0;
}
.fl{
	float: left;
}
.fr{
	float:right;
}
li{
	list-style: none;
	float: left;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
