.banxin{
	width: 1220px;
	margin: 0 auto;
}
.top{
	height: 100px;
	margin: 0 auto;
	background: #000000;
}
.logo{
	height: 100px;
	overflow: hidden;
}
.logo img{
	margin-top: 24px;
	float: left;
}
.logo ul{
	margin: 40px 0 0 300px;
}
.logo li{
	float: left;
	padding-right: 40px;
}
.logo li a{
	color: #989697;
}
.logo li a:hover{
	color: white;
	text-decoration: none;
}
.logoright a{
	display: inline-block;
	text-align: center;
	width: 100px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #242424;
	border-radius:8px;
	background: #101010;
	color: #A5A5A5;
	margin: -10px 5px 0 0;
}
.logoright a:hover{
	text-decoration: none;
}
.nav{
	height: 90px;
	background: #EDEDED;

}
.nav ul{
	padding: 35px 0 0 5px;
}
.nav ul li{
	padding-right: 40px;
}
.nav ul li a{
	color: #666666;
	font-weight: 600;
}
.nav b{
	display: inline-block;
	width: 23px;
	height: 24px;
	background: url(btn-icon.png) no-repeat -14px -463px;
	margin: -5px 3px 0 0;
}
.bowu{
	height: 500px;
	background: #E9E8E6;
	border: 1px solid #CECECC;
	border-radius: 10px;
	position: relative;
	margin-bottom: 15px;
}
.left .p1 img{
	position: absolute;
	top: 110px;
	left:110px;
}
.left .p2 img{
	position: absolute;
	top: 390px;
	left:413px;
}
.right{
	margin: 110px 200px 0 0px; 
	color: #A39683;
}
.right h2{
	font-size: 40px;
	font-weight: normal;
	padding-bottom: 20px;
}
.right p{
	font-size: 18px;
	padding-bottom: 10px;
}
.right input{
	width: 230px;
	height: 53px;
	border: 1px solid #D1CCC6;
	font-size: 18px;
	border-radius: 6px;
	color: #A39683;
	margin: 20px 0 30px 0;
}
.fourpic{
	height: 200px;
	border: 1px solid #DCDCDC;
	border-radius: 6px;
	margin-bottom: 50px;
}
.fourpic .no1 img{
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}
.fourpic .no4 img{
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}
.fourpic li{
	width: 304px;
	height: 200px;
	border-right: 1px solid #DCDCDC;
}
.fourpic li img{
	float: right;
	width: 304px;
	height: 200px;
}
.lijian h3{
	color: #646675;
	font-size: 16px;
	padding-left: 10px;
	margin-bottom: 20px;
}
.shop{
	height: 860px;
	border: 1px solid #DCDCDC;
	border-radius: 8px;
	background: #FFFFFF;
	margin-bottom: 65px; 
}
.shop ul{
	height: 430px;
	border-bottom: 1px solid #DCDCDC;
}
.shop .no1{
	width: 612px;
	height: 430px;
}
.shop .no1 img{
	width: 610px;
	height: 430px;
	border-right: 1px solid #DCDCDC;
}
.shop .no2{
	width: 305px;
	height: 430px;
	border-right: 1px solid #DCDCDC;
	text-align: center;
}
.shop .no2 img{
	padding-bottom: 30px;
}
.shop .no2 p{
	padding-bottom: 20px;
}
.shop .no2 span{
	color: red;
	font-size: 18px;
}
.shop .no3{
	width: 301px;
	height: 430px;
	text-align: center;
}
.shop .no3 img{
	padding-bottom: 30px;
}
.shop .no3 p{
	padding-bottom: 20px;
}
.shop .no3 span{
	color: red;
	font-size: 18px;
}
.shop .no4{
	width: 305px;
	height: 430px;
	text-align: center;
	border-right: 1px solid #DCDCDC;
}
.shop .no4 img{
	padding-bottom: 30px;
}
.shop .no4 p{
	padding-bottom: 20px;
}
.shop .no4 span{
	color: red;
	font-size: 18px;
}
.shop .no5{
	width: 300px;
	height: 430px;
	text-align: center;
}
.shop .no5 img{
	padding-bottom: 30px;
}
.shop .no5 p{
	padding-bottom: 20px;
}
.shop .no5 span{
	color: red;
	font-size: 18px;
}
.foot{
	height: 355px;
	background: #FBFBFB;
}
.footcon{
	height: 220px;
	border-bottom: 1px double #F4F4F4;
}
.footcon dl{
	float: left;
	padding: 60px 100px 0 0;
}
.footcon dl dt{
	font-weight: 600;
	padding-bottom: 15px;
	font-size: 14px;
	color: #424242;
}
.footcon dd{
	color: #A9A9A9;
	padding-top: 10px;
}
.footcon .right{
	text-align: right;
	margin: 60px 20px 0 0;
}
.footcon .right a{
	text-align: center;
	display: inline-block;
	width: 120px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #97BBF9;
	color: white;
	font-weight: 500;
	background: #97BBF9;
	border-radius: 6px;
}
.footcon .right a:hover{
	text-decoration: none;
}
.footcon .right .num{
	font-weight: 900;
	color: #383838;
	font-size: 30px;
}
.footcon .right .mess{
	color: #BDBDBD;
	font-size: 14px;
}
.shengming{
	/*clear: both;*/
	height: 90px;
	margin-top: 90px; 
}
.shengming .p1{
	color: #9B9B9B;
	padding-bottom: 15px;
	font-size: 14px;
}
.shengming .p1 a{
	padding: 0 10px;
	color: #9B9B9B;
	border-left: 1px solid #9B9B9B;
}
.shengming .p2{
	color: #DDDDDD;
}