/*顶部logo区及导航部分============B*/
.top{
	height: 100px;
	background-color: #000;
	clear: both;
}
.top_con{
	height: 100px;
	position: relative;
	background-color: #000;
}
.top_con .logo{
	padding-top: 25px;
	float: left;
}
.top_con .logo a{
	text-indent: -9999px;
	margin-left: -5px;
	display: block;
	width: 50px;
	height: 50px;
	background: url("../images/logo.jpg");
}
.top_nav{
	float: right;
}
.top_ul{
	float: left;
}
.top_nav ul{
	padding-top: 36px;
	overflow: hidden;
}
.top_nav ul li{

}
.top_nav ul li a{
	display: block;
	height: 28px;
	font-size: 14px;
	color: #969895;
	padding: 0 20px;
	line-height: 28px;
}
.top_nav li .active{
	color: #fff;
}
.top_nav ul li a:hover{
	color: #fff;
}
.login{
	float: left;
	padding: 39px 0 0 41px;
	margin-left: 20px;
	position: relative;
}
.login a{
	display: block;
	text-align: center;
	width: 98px;
	height: 26px;
	font-size: 12px;
	color: #969895;
	line-height: 26px;
	border: 1px solid #ccc;
	border-radius: 4px;
	opacity: 0.8;
	box-sizing: border-box;
}
.login:before{
	content: "";
	display: block;
	height: 13px;
	width: 1px;
	background-color: #ccc;
	position: absolute;
	left: 0;
	top: 44px;
}
/*顶部logo区及导航部分============E*/

/*商品导航栏部分==================B*/
.shop_box{
	height: 90px;
	background-color: #EDEDED;
}
.shop_box_nav{
	height: 90px;
}
.shop_box_nav ul{
	float: left;
	padding-top: 37px;
}
.shop_box_nav ul li{
	padding-left: 42px;
}
.shop_box_nav ul .first{
	padding: 0;
}
.shop_box_nav ul a{
	font-size: 12px;
	color: #666;
}
.shop_box_nav ul a:hover{
	color: #406dd6;
}
.shop_car{
	float: right;
	margin-right: 15px;
	
}
.shop_car_box{
	margin: 34px 6px 0 0;
}
.shop_car a{
	color: #969895;
	font-size: 14px;
	position: relative;
}
.shop_car a:before{
	content: "";
	width: 20px;
	height: 16px;
	position: absolute;
	top: 0;
	left: -25px;
	background: url(../images/btn-icon.png) -14px -467px no-repeat;
}
.shop_car a .icon{
	position: absolute;
	top: 0;
	right: -16px;
	padding: 0 4px;
	height: 16px;
	background-color: #999;
	color: #fff;
	text-align: center;
	line-height: 16px;
	border-radius: 50%;
	font-weight: normal;
}
/*商品导航栏部分==================E*/

.figure_box{
	clear: both;
	height: 500px;
	background-color: #EDEDED;
}
.screen{
	height: 500px;
	// border-radius: 4px;
	position: relative;
	overflow: hidden;
}
.screen_box{
	height: 500px;
	overflow: hidden;
}
.screen ul li img{
	border-radius: 10px;
}
.screen ul{
	position: absolute;
	// width: 3660px;
	overflow: hidden;
}
.screen ul li{
	float: left;
}
.screen  ol {
    position: absolute;
    left: 50%;
    bottom: 10px;
    line-height: 20px;
    text-align: center;
}
.screen ol li {
    list-style-type: none;
    float: left;
    width: 8px;
    height: 8px;
    background: #fff;
    border: 1px solid #ccc;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.screen ol li.current {
    background-color: #999;
 }
.figure_box .arrow{
	display: none;
}
.figure_box .arrow span{
	width: 50px;
	height: 100px;
	background-color: rgba(155,155,155,0.3);
	color: #fff;
	text-align: center;
	line-height: 100px;
	font-weight: 700;
	font-size: 30px;
	position: absolute;
	cursor: pointer;
}
.figure_box .arrow .arrow_left{
	top: 50%;
	margin-top: -50px;
	left: 0;
}
.figure_box .arrow .arrow_right{
	top: 50%;
	margin-top: -50px;
	right: 0;
}


/*轮播图下的四个商品栏=====================B*/
.four_box{
	height: 200px;
	margin-top: 20px;
}
.four{
	height: 200px;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,.14);
}
.four ul{

}
.four ul li{
	float: left;
	width: 305px;
	height: 200px;
	box-sizing: border-box;
	border-right: 1px solid rgba(0,0,0,.14);
	position: relative;
}
.four ul li:nth-last-child(1){
	border:none;
}
.four ul li img{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.four ul a{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
}
.four ul a:hover{
	box-shadow: 0 0 38px rgba(0,0,0,.08) inset;
}

/*轮播图下的四个商品栏=====================E*/


/*热卖商品==================================B*/
.hot_panel{
	margin-top: 29px;
}
.hot_panel_box{
	border: 1px solid rgba(0,0,0,.14);
	border-radius: 8px;
}
.hot_panel .hot_shop{
	border-radius: 0 0 8px 8px;
	overflow: hidden;
}
.hot_panel .hot_shop ul{
	overflow: hidden;
}
.hot_panel .hot_shop ul li{
	width: 305px;
	height: 429px;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid rgba(0,0,0,.14);
	background-color: #fff;
	position: relative;
	text-align: center;
	cursor: pointer;
}
.hot_panel .hot_shop ul li:nth-last-child(1){
	border:none;
}
.hot_panel .hot_shop ul li img{
	display: block;
	margin: 50px auto;
	width: 206px;
	height: 206px;
}
.hot_panel .hot_shop ul li a{
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.hot_panel .hot_shop ul li:hover{
	box-shadow: 0 0 38px rgba(0,0,0,.08) inset;
}
.hot_shop .circle{
	position: absolute;
	z-index: 6;
	bottom: 65px;
	left: 50%;
}
.hot_shop .circle span{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
}
.hot_shop .circle #circle_red{
	background-color: #D54850;
}
.hot_shop .circle #circle_brown{
	margin-left: 5px;
	background-color: #69554E;
}
// .hot_panel .hot_shop ul li .info{
// 	width: 100%;
// 	text-align: center;
// 	position: absolute;
// 	top: 290px;
// 	left: 0;
// }
// .hot_panel .hot_shop ul li .info h6{
// 	font-size: 16px;
// 	font-weight: 400;
// 	color: #524654;
// }
// .hot_panel .hot_shop ul li .info p{
// 	font-size: 12px;
// 	font-weight: 400;
// 	margin-top: 10px;
// 	color: #BCBABB;
// }
// .hot_panel .hot_shop ul li .price{
// 	width: 100%;
// 	text-align: center;
// 	position: absolute;
// 	top: 380px;
// 	left: 0;
// 	color: #DE4037;
// }
// .hot_panel .hot_shop ul li .price span{
// 	font-weight: bold;
// }
/*热卖商品==================================E*/


/*官方精选====================================B*/
.official_shop{
	margin-top: 30px;
}
.official_goods{
	border: 1px solid rgba(0,0,0,.14);
	border-radius: 8px;
	overflow: hidden;
}
.official_goods ul{
	overflow: hidden;
}
.official_goods ul li{
	float: left;
	width: 305px;
	height: 429px;
	box-sizing: border-box;
	border-right: 1px solid rgba(0,0,0,.14);
	border-bottom: 1px solid rgba(0,0,0,.14);
	background-color: #fff;
	position: relative;
	cursor: pointer;
}
.official_goods ul li:nth-child(3){
	border-right: none;
}
.official_goods ul li:nth-last-child(1){
	border-right: none;
}
.official_goods ul .special_li{
	width: 610px;
}
.official_goods ul li img{
	display: block;
	margin: 50px auto;
	width: 206px;
	height: 206px;
}
.official_goods ul .special_li img{
	width: 100%;
	height: 100%;
	margin: 0;
}
.official_goods ul li a{
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.official_goods ul li:hover{
	box-shadow: 0 0 38px rgba(0,0,0,.08) inset;
}
.official_goods .circle{
	width: 100%;
	position: absolute;
	bottom: 70px;
	left: 120px;
}
.official_goods .circle span{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	//border: 4px solid #CCC;
	box-sizing: border-box;
}
.official_goods .circle #beats_red{
	background-color: #D25457;
}
.official_goods .circle #beats_black{
	background-color: #202020;
}
.official_goods .circle #beats_gray{
	background-color: #F1DAB8;
}
/*官方精选====================================E*/


/*锤子科技精选================================B*/
.hammer_tech{
	margin-top: 30px;

}
.hammer .tech_video{
	overflow: hidden;
	border-radius: 0 0 8px 8px;
}
.hammer .tech_video ul li{
	width: 305px;
	height: 200px;
	box-sizing: border-box;
	border-right: 1px solid rgba(0,0,0,.14);
	position: relative;
}
.hammer .tech_video ul li img{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.hammer .tech_video ul li a{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
}
.hammer .tech_video ul li:nth-last-child(1){
	border-right: none;
}

.hammer .tech_video ul li a:hover{
	box-shadow: 0 0 38px rgba(0,0,0,.08) inset;
}
/*锤子科技精选================================E*/


/*锤子app科技==============================B*/
.app-panel{
	margin-top: 30px;
}
.app_tech{
	border: 1px solid rgba(0,0,0,.14);
	border-radius: 8px;
	overflow: hidden;
}
.app_tech .tech_header{
	height: 60px;
	background-color: #fafafa;
	border-bottom: 1px solid rgba(0,0,0,.14);
}
.tech_header .hot_title{
	float: left;
	border-bottom: none;
}
.tech_header .more_app{
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}
.tech_header .more_app a{
	display: block;
	border: 1px solid #e1e1e1;
	color: #666;
	background-color: #fafafa;
	border-radius: 4px;
	padding: 10px 15px;
}
.tech_header .more_app a:hover{
	background-color: #F1F1F1;
}
.app_tech ul{
	height: 360px;
}
.app_tech ul li{
	width: 305px;
	height: 360px;
	border-right: 1px solid rgba(0,0,0,.14);
	box-sizing: border-box;
	background-color: #fff;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.app_tech ul li:hover{
	box-shadow: 0 0 38px rgba(0,0,0,.08) inset;
}
.app_tech ul li:nth-last-child(1){
	border-right: none;
}
.app_tech ul li .app_image{
	width: 90px;
	height: 90px;
	margin: 72px auto 0;
	background: url("../images/tech_sprint.png") 0 0 no-repeat;
	background-size: auto 90px;
}
.app_tech ul .tech_note .app_image{
	background-position: -192px 0; 
}
.app_tech ul .tech_launcher .app_image{
	background-position: -96px 0; 
}
.app_tech ul .tech_bbs .app_image{
	background-position: -192px 0; 
}
.app_tech ul li .infos{
	
}
.app_tech ul li .infos h6{
    font-size: 16px;
    line-height: 1.2;
    color: #424242;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.app_tech ul li .infos p{
	margin-top: 18px;
}
.app_tech ul li .infos p span{
    margin-top: 6px;
    font-size: 12px;
    line-height: 1.2;
    color: #B2B2B2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.app_tech .app_content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	// visibility: hidden;
}
.app_content .platform span{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 30px;
	position: relative;
}
.tech_launcher .platform span{
	margin-top: 40px;
}
.app_content .platform .p_ad{
	background: url("../images/ad.png");
}
.app_content .platform .p_ip{
	background: url("../images/ip.png");
}
.tech_hand .platform .p_l{
	background: url("../images/win.png");
}
.app_content .platform .p_l:before{
	content: "";
	display: inline-block;
	width: 1px;
	height: 10px;
	background-color: #EEEEEE;
	position: absolute;
	top: 2px;
	left: 20px;
}
.app_tech .app_operation{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
.app_operation .handshaker-buttons{
	margin-top: 80px;
	text-align: center;
}
.handshaker-buttons a{
	display: inline-block;
	width: 210px;
	height: 50px;
	border-radius: 8px;
	background-color: #6992E3;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 50px;
	margin-bottom: 20px;
	position: relative;
}
.handshaker-buttons a:hover{
	background-color: #5E84D2;
}
.handshaker-buttons .handshaker-win .btn-icon{
	width: 20px;
	height: 21px;
	background: url("../images/mic.png");
	position: absolute;
	top: 15px;
	left: 14px;
}
.handshaker-buttons .handshaker-mac .btn-icon{
	width: 17px;
	height: 21px;
	background: url("../images/app.png");
	position: absolute;
	top: 13px;
	left: 27px;
}
.app_operation .a_info{
	display: inline-block;
	font-size: 12px;
	color: #5079D9;
	margin-top: 30px;
}
.app_tech li .app_operation .qrcode{
	margin: 72px auto 0;
}
.app_tech li .app_operation p{
	margin-top: 28px;
	line-height: 1.2;
	color: #666666;
	font-size: 12px;
}
.app_tech li .app_operation .a_title{
	display: inline-block;
	font-size: 12px;
	line-height: 1.2;
	color: #5E84D2;
	margin-top: 10px;
}
/*锤子app科技==============================E*/

/*锤子论坛===================================B*/
.hammer_forum{
	margin-top: 30px;
}
.h_forum{
	border: 1px solid rgba(0,0,0,.14);
	border-radius: 8px;
	overflow: hidden;
}
.h_forum .tech_header{
	height: 60px;
	background-color: #fafafa;
	border-bottom: 1px solid rgba(0,0,0,.14);
}
.h_forum .hot_title{
	float: left;
	border-bottom: none;
}
.h_forum .more_app{
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}
.h_forum .more_app a{
	display: block;
	border: 1px solid #e1e1e1;
	color: #666;
	background-color: #fafafa;
	border-radius: 4px;
	padding: 10px 15px;
}
.h_forum .more_app a:hover{
	background-color: #F1F1F1;
}
.h_forum ul{

}
.h_forum ul li{
	width: 305px;
	height: 362px;
	box-sizing: border-box;
	border-right: 1px solid rgba(0,0,0,.14);
	position: relative;
	padding: 30px;
	background-color: #fff;
	cursor: pointer;
}
.h_forum ul li:hover{
	box-shadow: 0 0 38px rgba(0,0,0,.08) inset;
}
.h_forum ul li:nth-last-child(1){
	border-right: none;
}
.h_forum ul li img{
	border-radius: 4px;
	display: block;
	margin: 
}
.h_forum ul li .forum_info{
	margin-top: 28px;
}
.h_forum ul li .forum_info h6{
	font-size: 16px;
    color: #424242;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    height: 48px;
}
.h_forum ul li .forum_info p{
	font-size: 12px;
    color: #B2B2B2;
    line-height: 18px;
    margin-top: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 35px;
    overflow: hidden;
}
.h_forum ul li .forum_info a{
	display: block;
    margin-top: 8px;
    line-height: 1.2;
    font-size: 12px;
    color: #5079d9;
}
/*锤子论坛===================================B*/


/*网页底部==================================B*/
.footer{
	margin-top: 60px;
	background-color: #FAFAFA;
}
.footer_box{
	height: 350px;
	background-color: #FAFAFA;
}
.footer_top {
	overflow: hidden;
	padding-bottom: 40px;
	border-bottom: 1px solid #E7E7E7;
}
.footer_top dl{
	width: 148px;
	height: 97px;
	float: left;
	margin-top: 97px;
	font-size: 12px;
}
.footer_top dl dt{
	color: #646464;
	margin-bottom: 20px;
}
.footer_top dl dd{
	margin-bottom: 12px;
}
.footer_top dl dd a{
	color: #969696;
}
.footer_top dl dd a:hover{
	color: #5079d9;
}
.footer_top .serviceLine{
	float: right;
	margin-top: 97px;
	text-align: right;
}
.footer_top .serviceLine h2{
	font-size: 30px;
	color: #5F5F67;
	font-weight: 700;
}
.footer_top .serviceLine p{
	margin-top: 10px;
	font-size: 12px;
	color: #C9C7C8;
}
.footer_top .serviceLine a{
	margin-top: 10px;
	display: inline-block;
	width: 130px;
	height: 33px;
	background-color: #F7F7F9;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	text-align: center;
	line-height: 33px;
	font-size: 12px;
	position: relative;
}
.footer_top .serviceLine a:hover{
	background-color: #F1F1F1;
}
.footer_top .serviceLine a span{
	width: 17px;
	height: 17px;
	position: absolute;
	top: 8px;
	left: 20px;
	background: url("../images/btn-icon.png") -14px -716px;
}
.footer_btm{
	margin-top: 40px;
}
.footer_btm p{
	color: #757575;
	font-size: 12px;
	float: left;
	padding-right: 10px;
}
.footer_btm ul{
	float: left;
	margin-top: -4px;
}
.footer_btm ul li a{
	color: #5079d9;
	font-size: 12px;
	padding: 0 10px;
	border-left: 1px solid #CCC;
}
.footer_btm h6{
	clear: both;
	padding-top: 10px;
}
.footer_btm h6 a{
	color: #bdbdbd;
	font-size: 12px;
}
/*网页底部==================================E*/

/*返回顶部*/
.up{
	display: none;
}
.up a{
	position: fixed;
	bottom: 30px;
	right: 5px;
	width: 54px;
	height: 54px;
	background: url("../images/up.png");
	border-radius: 4px;
	border: 1px solid #e1e1e1;
	cursor: pointer;
	text-indent: -99999px;
}